<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Page</title>
    <style>
      body {
        background-color: pink;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      h1 {
        text-align: center;
        margin: 20px 0;
      }
      nav {
        background-color: #333;
        padding: 10px 0;
      }
      nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
      }
      nav ul li {
        margin: 0 15px;
      }
      nav ul li a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        padding: 8px 16px;
        display: block;
      }
      nav ul li a:hover {
        background-color: #555;
        border-radius: 5px;
      }
      hr {
        border: none;
        height: 4px;
        background-color: black;
        margin: 20px 0;
      }
      .about {
        width: 800px;
        align-items: center;
        margin-left: 400px;
        text-align: justify;
        margin-top: 50px;
        font-size: 22px;
        font-family: 'Times New Roman', Times, serif;
      }
    </style>
  </head>
  <body>
    <h1>WELCOME TO ABOUT PAGE</h1>
    <hr />
    <nav>
      <ul>
        <li><a href="/students/home">HOME</a></li>
        <li><a href="/students/about">ABOUT</a></li>
        <li><a href="/students/insert">INSERT</a></li>
        <li><a href="/students/display">DISPLAY</a></li>
        <li><a href="/students/search">SEARCH</a></li>
        <li><a href="/students/update">UPDATE</a></li>
        <li><a href="/students/contact">CONTACT</a></li>
      </ul>
    </nav>
    <h1>This is a About Page</h1>
    <div class="about">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, quae
        natus tempore unde, delectus illo ab quibusdam quas doloribus debitis
        suscipit, et praesentium consectetur iusto inventore pariatur. Magnam
        quia laboriosam nihil soluta ipsum vitae quam sunt. Sunt asperiores ad
        unde voluptate officia. Magni velit voluptatibus, fugiat deleniti nam
        dignissimos ut veritatis harum odio, animi quae debitis delectus
        voluptas quidem inventore aliquam laboriosam ipsum corrupti assumenda!
        Eos, fugiat repellat. Quisquam, veniam? Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Ut excepturi est beatae debitis sint.
        Animi amet sint magni possimus veniam aliquid explicabo ad nostrum ab.
        Commodi vel ab facilis saepe. Sint, id asperiores culpa excepturi
        expedita eveniet inventore animi totam?dignissimos ut veritatis harum
        odio, animi quae debitis delectus voluptas quidem inventore aliquam
        laboriosam ipsum corrupti assumenda! Eos, fugiat repellat. Quisquam,
        veniam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut
        excepturi est beatae debitis sint. Animi amet sint magni possimus veniam
        aliquid explicabo ad nostrum ab. Commodi vel ab facilis saepe. Sint, id
        asperiores culpa excepturi expedita eveniet inventore animi totam?
      </p>
    </div>
  </body>
</html>
